In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('train.csv')

In [ ]:
df

           col1        col2  output
0    -38.366669  113.000000       1
1    -39.818572  123.943369       1
2    -55.638240  114.551862       1
3    -36.378005   95.616515       1
4    -39.366669  112.000000       1
...         ...         ...     ...
1273  -7.017043    3.026211       0
1274   5.633331    5.000000       0
1275 -13.501376  -12.774656       0
1276 -13.451631    0.015515       0
1277  18.634295   -6.581324       0

[1278 rows x 3 columns]

logistic reg

In [ ]:
target = df['output']
df2 = df.drop("output",axis=1)

In [ ]:
df2.head()

        col1        col2
0 -38.366669  113.000000
1 -39.818572  123.943369
2 -55.638240  114.551862
3 -36.378005   95.616515
4 -39.366669  112.000000

In [ ]:
target.head()

0    1
1    1
2    1
3    1
4    1
Name: output, dtype: int64

TRAIN AND TEST DATA

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df2,target,test_size = 0.20,random_state = 0)

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
from sklearn import metrics

In [ ]:
metrics.accuracy_score(y_test, y_pred)

0.61328125

svm coding

SVM with using  RBF

In [ ]:
from sklearn.svm import SVC
svmclassifier = SVC(kernel = 'rbf')
svmclassifier.fit(X_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
y_test_pred2 = svmclassifier.predict(X_test)

In [ ]:
print(metrics.accuracy_score(y_test,y_test_pred2))

1.0

SVM LINEAR

In [ ]:
from sklearn.svm import SVC
classifier2 = SVC()
classifier2.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
classifier2=SVC(kernel='linear')
classifier2.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
y_pred = classifier2.predict(X_test)

In [ ]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred)

0.61328125

In [ ]:
from pickle import dump

dump(classifier2,open('heroku\pickel\arsh.pkl','wb'))